# Ignore Python build artifacts.

*.egg-info/
*.pyc
*.pyo


# Ignore virtualenv environments.

venv*/


# Ignore pyenv files.

.python-version


# Ignore Vagrant runtime files.

.vagrant/


# Ignore settings for various IDEs.

.idea/
.project/
.pydevproject/
nbproject/


# Ignore OS metadata files.

.DS_Store
