## Tasks for the python3 role.
##
- name: create download directory
  file:
    path: "{{ python3_tmpdir }}"
    state: directory
      
- name: OS-specific tasks
  include_tasks: "{{ ansible_distribution|lower }}.yml"

- name: pyenv tasks
  include_tasks: pyenv.yml
  when: python3_pyenv != None

- name: install/upgrade utilities
  become: true
  command: "{{ python3_command }} -m pip install --upgrade {{ item }}"
  with_items:
    - pip
    - pipenv
    - virtualenv
  environment:
    PYENV_VERSION: "{{ python3_pyenv }}"
      
- name: add local Python path to login file
  become: true
  lineinfile:
    line: "export PATH={{ python3_local }}:$PATH"
    path: "{{ python3_bashrc }}"
    create: true
    state: present
