## Install Python using pyenv.
##
- name: pyenv installation of Python
  block:
  
    - name: install pyenv
      block:

        - name: download pyenv installer
          get_url:
            url: https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer
            dest: "{{ python3_tmpdir }}"

        - name: run pyenv installer
          command: "bash pyenv-installer"
          args:
            chdir: "{{ python3_tmpdir }}"
      
        - name: update login file
          blockinfile:
            path: "{{ python3_shellrc }}"
            create: true
            block: |
              export PATH="{{ ansible_user_dir }}/.pyenv/bin:$PATH"
              eval "$(pyenv init -)"
              eval "$(pyenv virtualenv-init -)"

        - name: update pyenv
          command: pyenv update
    
    - name: install Python
      block:
      
        - name: install Python
          command: "pyenv install {{ python3_pyenv }}"

        - name: pyenv rehash
          command: "pyenv rehash"
      
        - name: define python3 command
          set_fact:  # can't rely on changes to $PATH yet
            python3_command: "{{ ansible_user_dir }}/.pyenv/shims/{{ python3_command }}"    
      
  environment:
    PATH: "{{ ansible_env.PATH }}:{{ ansible_user_dir }}/.pyenv/bin"
